/**
 * Settings
 * For global classes - no breakpoints
 *
 * Sytax:
 * shortname,
 */

$propertySettings: (
  end,
  center,
  between,
);




/**
 * Responsive Settings
 * For @media breakpoint settings
 */

$propertyResponsiveSettings: (
  uptomed: (end, center),
  uptohigh: (center, between),
);

