// config
$containerMaxWidth: 700px;

$designContainerPx: 282;
$designArtboardPx: 320;

/**
 * Container widths
 */
$containerSettings: (

  uptomin: 100vw,
  mintomax: (($designContainerPx/$designArtboardPx) * 100vw),
  frommax: $containerMaxWidth,

);
