/**
 * Global namespace for Objects, Components and
 * Utilities
 *
 * Type: String
 */
$iota-global-objects-namespace    : 'o-';
$iota-global-utilities-namespace  : 'u-';
$iota-global-components-namespace : 'c-';



/**
 * Measurement Configs
 * These numbers get used in a lot of places
**/
$iota-global-baseline: (12/18) * 1rem;



/**
 * Global breakpoint suffix naming setting. All breakpoint
 * specific styles have a '@breakpointName' suffix by default.
 * The \ character is used to escape the @ character.
 *
 * Type: String
 */
$iota-global-breakpoint-separator: \@;


/**
 * Global delimiter naming setting for Size, Push and Pull
 * utilities. By default it is '/' (.u-1/2) and you can change
 * it for example to 'of' so that the generated HTML class will be
 * 'u-1of2'.
 *
 * Type: String
 */
$iota-global-delimiter: \/;




@import 'node_modules/iotacss/settings/core';
