$type-16px: 16px;
$type-22px: 22px;

$baseFontSmall: $type-16px;
$baseFontLarge: $type-22px;

$type-20: 1rem * (20/16);


/**
 * Typefaces (@font-face)
 * Any webfont stacks are specified here.
 */

$font-stack-tetra: 'Tetra ITC', Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
