/**
 * Type Sizes
 * Any fluid typography is set in modular scale.
 */

$type-16px: 16px;
$type-22px: 22px;


/**
 * Typefaces (@font-face)
 * Any webfont stacks are specified here.
 */

$font-stack-tetra: 'Tetra ITC', Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
