@font-face {
  font-family: 'Bryant DisableLocal';
  src: url('../font/tetra/regular.eot');
  src: url('../font/tetra/regular.eot?#iefix') format('embedded-opentype'),
        url('../font/tetra/regular.woff2') format('woff2'),
        url('../font/tetra/regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
