/**
 * .c-span
 * Sample component
 *
 * Used:
 * here, here and here.
 */

$component: 'span';

.#{$iota-global-components-namespace + $component} {
  display: flex;
  height: 5vh;
  justify-content: space-between;
  border-radius: .5rem;

  &:before,
  &:after {
    width: gutters(.5);
    background-color: $colour-aqua;
    border-radius: inherit;
    content: '';
  }
}

// make the spans animate up and down
.#{$iota-global-components-namespace + $component} {
  animation: 1.5s updown infinite;
}

.#{$iota-global-components-namespace + $component}--filled {
  background-color: rgba($colour-aqua, .7);
  transition: background .5s ease;

  &:before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:after {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@keyframes updown {
  $distance: 15vh;

  0%,
  100% {
    transform: translateY(0);
  }

  0%,
  50%,
  100% {
    opacity: 1;
  }

  33%,
  66% {
    opacity: .3;
  }

  33% {
    transform: translateY($distance * -1);
  }

  66% {
    transform: translateY($distance);
  }
}
