/**
 * .c-span
 * Sample component
 *
 * Used:
 * here, here and here.
 */

$component: 'span';

.#{$iota-global-components-namespace + $component} {
  display: flex;
  height: 5vh;
  justify-content: space-between;
  border-radius: 3px;

  &:before,
  &:after {
    width: gutters(.5);
    background-color: $colour-aqua;
    border-radius: inherit;
    content: '';
  }

  &--filled {
    background-color: rgba($colour-aqua, .7);
    transition: background .5s ease;

    &:before {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:after {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

