/**
 * .c-speech
 * Speech bubble aka button
 *
 * Used:
 * here, here and here.
 */

$component: 'speech';

.#{$iota-global-components-namespace + $component} {
  @extend .u-ph-g-2;
  @extend .u-pv-r-05;
  @extend .u-bgcolor-aqua;
  @extend .u-color-purple;
  @extend .u-radius-10px;
  min-height: 2rem;
  font-weight: normal;

  svg {
    animation: pulse .4s infinite;
  }

  &:focus {
    @extend .u-color-aqua;
    background: transparent;
    border: 2px solid $colour-aqua;
  }
}

@keyframes pulse {
  0% {
    // opacity: .8;
  }

  100% {
    transform: translateX(20%);
    opacity: 1;
  }
}
