/*
  Should have a settings file, and then loop here
*/

.#{$iota-global-utilities-namespace}height {

  &-auto {
    height: auto;
  }

  &-80vh {
    height: 80vh;
  }

  &-b-1 {
    height: baseline(1);
  }

  &-100 {
    height: 100%;
  }
  // &-base-x3 {
  //   height: baseline(3);
  // }
}
